
<div class="ui container-fluid movo-header">
    <br/><br/><br/>
    <div class="ui container startUp" >
        <div class="ui sizer">
            <div class="huge ui grey inverted  header">Smart Medical Platform
                <div class="sub header">movoclinic tools built to help you do more</div>
            </div>
        </div>
        <br/>
        <a class="big ui primary button" ui-sref="register" >
            <i class="hashtag  icon"></i> Get started Now</a>
        <!--<button class="big ui primary button"> <i class="hashtag  icon"></i> Get started Now</button>-->
    </div>
</div>
<div class="ui container-fluid blue-backgroundcolor">
    <h2 class="ui grey inverted center aligned  header">Get it Free medical tools for physicians and pharmacist
    </h2>
</div>

<div class="ui stackable two column grid container">
    <div class="column">
        <br/><br/><br/><br/><br/>
        <div class="ui sizer">
            <div class="ui huge header">Egypt drug index

                <div class="sub header">movoclinic Egypt drug index is a medical tool built to helping doctors in work.
                    we provide this tool (mobile application) with a free service and free physician account.
                    download it now from google play store.</div>
            </div></div>
        <br/>
        <a class="ui center aligned" href="https://play.google.com/store/apps/details?id=com.movoclinic.drugindex" target="_blank">
            <img class="ui center aligned" src="../images/google_play.png"/></a>
    </div>
    <div class="column"><br/><img src="../images/mobile.png"/></div>
</div>

<div class="ui horizontal divider">
    application Features
</div>

<div class="ui stackable four column grid">
    <div class="column">
        <h2 class="ui icon header">
            <i class="microchip icon"></i>
            <div class="content">
                movo engine
                <div class="sub header">smart medical search engine helping physicians to find medicines.</div>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui icon header">
            <i class="percent icon"></i>
            <div class="content">
                Trusted Data
                <div class="sub header">We provide trustwed medicines data that available in egypt market.</div>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui icon header">
            <i class="send outline icon"></i>
            <div class="content">
                Share Medicines
                <div class="sub header">Quick share medicines details to your patients.</div>
            </div>
        </h2>
    </div>
    <div class="column">
        <h2 class="ui icon header">
            <i class="cubes icon"></i>
            <div class="content">
                Categories
                <div class="sub header">Quick search for medicines using our filters and features.</div>
            </div>
        </h2>
    </div>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="ui container">
    <a ui-sref="feeds">
        <div class="ui  icon message">
            <i class="rss square icon"></i>
            <div class="content">
                <div class="header">
                    Global medical daily feeds
                </div>
                <p>Get our free service online now , Livetime free and updates.
                </p>
            </div>
        </div>
    </a>
</div>
<br/><br/>
<div class="ui stackable two column grid container">
    <div class="column"><br/><img src="../images/bnr1.png"/></div>
    <div class="column middle aligned content">

        <div class="ui sizer">
            <div class="ui huge header">Main Features  </div></div>


        <div class="ui list">
            <div class="item">
                <div class="header">- Free account and service.</div> Livetime free account and free service.
            </div>
            <div class="item">
                <div class="header">- Trusted Medicine Data.</div> Medicines 100% available in egypt market.
            </div>
            <div class="item">
                <div class="header">- Full medicine details with alternatives.</div>
                Find medicines with full details with alternative medicines.
            </div>
            <div class="item">
                <div class="header">- Quick share medicine for patients.</div>
                share medicines to your patients social media applications.
            </div>
            <div class="item">
                <div class="header">- Filter search by trade name, disease symptoms, generic name, company, category.</div>
                Get target medcne with our smart filter
            </div>
            <div class="item">
                <div class="header">- Smart search engine for get medicine.</div>
                Use our smart search engine to find target medicine with smart filters.
            </div>
            <div class="item">
                <div class="header">Medical feeds & news.</div>
                stay connected with free global latest daily medical feeds.
            </div>
        </div>
    </div>
</div>

<div class="ui container-fluid" style="background-color: #004080;">
    <div class="ui container stackable column" >
        <div class="column"> 
            <br/>
            <div class="ui huge header grey inverted">
                <img src="/images/ibm.png" class="ui circular image">
                Congratulations 
                <div class="sub header">movoclinic now become a memeber of IBM International Program.
                    our platform become supported by IBM company,
                    very thakful for ibm for trust us.</div>
            </div>
            <br/>
        </div>
    </div>
</div>

<div class="ui container-fluid" >
    <div class="movo-footer" >
        <div class="column center aligned"> 
            <br/>
            <h2 class="ui center aligned header grey inverted">
                Why you should Become A sponsor?
            </h2>
            <h4 class="ui center aligned header grey inverted">Reach your customers ,become a leader in market
                ,by trust us and our platform you will take all advantages in medical market.</h4>
            <div style="text-align:center;">
                <button class="huge ui inverted yellow basic button">Become a sponsor</button>
            </div>
            <br/>
        </div>
    </div>
</div>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = 'xK1RktgqJ5';
        var d = document;
        var w = window;
        function l() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        }
        if (d.readyState == 'complete') {
            l();
        } else {
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
        }
    })();</script>
<!-- {/literal} END JIVOSITE CODE -->

