<div class="four wide column">
    <div class="ui large vertical menu">
        <a class="active item" ui-sref="dashboard">
            <div class="ui small green label">active</div>
            Dashboard
        </a>
        <div class="item">
            <div class="ui icon input">
                <input placeholder="Search mail..." type="text">
                <i class="search icon"></i>
            </div>
        </div>
        <a class="item" ui-sref="clinics">
            <div class="ui small label">51</div>
            <i class="hospital icon"></i> Clinics
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="doctor icon"></i> Physitians
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="user icon"></i>  Patiens
        </a>
         <a class="item">
            <div class="ui small label">51</div>
            <i class="id badge icon"></i>  Admins
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="checked calendar icon"></i>  Appointments
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="calculator icon"></i>  Expenses
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="dollar icon"></i>  Revenues
        </a>
        <a class="item">
            <div class="ui small label">1</div>
            <i class="visa icon"></i>  Payments
        </a>
        <a class="item">
            <div class="ui small label">1</div>
            <i class="setting icon"></i>  Setting
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="line chart icon"></i>   Reports
        </a>
        <a class="item">
            <div class="ui small label">51</div>
            <i class="handshake  icon"></i>   Support
        </a>

    </div>
</div>