<div class="ui container" style="margin-top: 78px;">
    <br/><br/>
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <div class="active section">Dashboard</div>
    </div>
</div>
<br/><br/>
<div class="ui stackable two column grid container" >
    <div ng-include="'templates/clinicMenu.html'"></div>
    <div class="twelve wide column">

        <div class="ui stackable three column grid container">
            <div class="column">
                <div class="ui card">
                    <div class="content center aligned">
                        <div class="header">Clinics</div>
                        <div class="meta">
                            <span>you have 2 clinics</span>
                        </div>
                        <div class="description">
                            <button class="ui primary button">
                                Create Clinic
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui card">
                    <div class="content center aligned">
                        <div class="header">Patients</div>
                        <div class="meta">
                            <span>you have 2 clinics</span>
                        </div>
                        <div class="description">
                            <button class="ui primary button">
                                Patients
                            </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui card">
                    <div class="content center aligned">
                        <div class="header">Appointments</div>
                        <div class="meta">
                            <span>you have 2 clinics</span>
                        </div>
                        <div class="description">
                            <button class="ui primary button">
                                Appointments
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
